{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 prod-con-login">
            <form method="post">
                {% csrf_token %}
                <div class="">
                    {{ form_signup.as_p }}
                </div>
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                <input class="button-alt font" type="submit" value="Зарегистрироваться">
            </form>
        </div>
    </div>
</div>
{% endblock %}