{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if category %}
{{ category.title }} kok
{% else %}
Products
{% endif %}
{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="product-detail">
            <h2>{{ product.name }}</h2>
        </div>
        <div class="row prod-con-detail">
            <div class="col-4 mt-3 mb-3">
                {% if product.photo %}
                <img src="{{ product.photo.url }}" width="360">
                {% else %}
                <img src="{% static 'no_photo.png' %}" width="360">
                {% endif %}
            </div>
            <div class="col-8 mt-3 mb-3">
                <h5><a href="{{ product.category.get_absolute_url }}">{{ product.name }}</a></h5>
                <p class="price">Цена: {{ product.price }}</p>
                <form class="price" action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </form>
                {{ product.body|linebreaks }}
                {% if product.category.slug == "monitor" %}
                <div class="grid-container">
                    {% for detail_info in monitor %}
                    <div class="grid-item">Уникальный номер:</div>
                    <div class="grid-item">{{ detail_info.uid }}</div>
                    <div class="grid-item"><h6>Общие параметры</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Модель:</div>
                    <div class="grid-item">{{ detail_info.model }}</div>
                    <div class="grid-item">Цвет:</div>
                    <div class="grid-item">{{ detail_info.color }}</div>
                    <div class="grid-item"><h6>Экран</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Диагональ:</div>
                    <div class="grid-item">{{ detail_info.diagonal }}"</div>
                    <div class="grid-item">Разрешение:</div>
                    <div class="grid-item">{{ detail_info.resolution }}</div>
                    <div class="grid-item"><h6>Технические характеристики экрана</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Яркость:</div>
                    <div class="grid-item">{{ detail_info.brightness }} Кд/м²</div>
                    <div class="grid-item">Частота:</div>
                    <div class="grid-item">{{ detail_info.frequency }} Гц</div>
                    <div class="grid-item"><h6>Интерфейсы</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Разъём VGA:</div>
                    <div class="grid-item">{{ detail_info.connector_VGA }}</div>
                    <div class="grid-item">Разъём HDMI:</div>
                    <div class="grid-item">{{ detail_info.connector_HDMI }}</div>
                    <div class="grid-item"><h6>Габариты</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Ширина:</div>
                    <div class="grid-item">{{ detail_info.width }} мм</div>
                    <div class="grid-item">Высота:</div>
                    <div class="grid-item">{{ detail_info.height }} мм</div>
                    <div class="grid-item">Вес:</div>
                    <div class="grid-item">{{ detail_info.weight }} кг</div>
                    {% endfor %}
                </div>

                {% elif product.category.slug == "noutbuk" %}

                <div class="grid-container">
                    {% for detail_info in laptop %}
                    <div class="grid-item">Уникальный номер:</div>
                    <div class="grid-item">{{ detail_info.uid }}</div>
                    <div class="grid-item"><h6>Общие параметры</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Модель:</div>
                    <div class="grid-item">{{ detail_info.model }}</div>
                    <div class="grid-item">Цвет:</div>
                    <div class="grid-item">{{ detail_info.color }}</div>
                    <div class="grid-item">Операционная система:</div>
                    <div class="grid-item">{{ detail_info.operating_system }}</div>
                    <div class="grid-item"><h6>Экран</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Тип экрана:</div>
                    <div class="grid-item">{{ detail_info.screen_type }}</div>
                    <div class="grid-item">Разрешение:</div>
                    <div class="grid-item">{{ detail_info.screen_resolution }}</div>
                    <div class="grid-item"><h6>Технические характеристики экрана</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Частота:</div>
                    <div class="grid-item">{{ detail_info.frequency }} Гц</div>
                    <div class="grid-item"><h6>Габариты</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Ширина:</div>
                    <div class="grid-item">{{ detail_info.width }} мм</div>
                    <div class="grid-item">Глубина:</div>
                    <div class="grid-item">{{ detail_info.depth }} мм</div>
                    <div class="grid-item">Вес:</div>
                    <div class="grid-item">{{ detail_info.weight }} кг</div>
                    {% endfor %}
                </div>

                {% elif product.category.slug == "klaviatura" %}

                <div class="grid-container">
                    {% for detail_info in keyboard %}
                    <div class="grid-item">Уникальный номер:</div>
                    <div class="grid-item">{{ detail_info.uid }}</div>
                    <div class="grid-item"><h6>Классификация</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Модель:</div>
                    <div class="grid-item">{{ detail_info.model }}</div>
                    <div class="grid-item">Тип клавиатуры:</div>
                    <div class="grid-item">{{ detail_info.keyboard_type }}</div>
                    <div class="grid-item"><h6>Внешний вид</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Цвет:</div>
                    <div class="grid-item">{{ detail_info.color }}</div>
                    <div class="grid-item">Подсветка клавиш:</div>
                    <div class="grid-item">{{ detail_info.key_backlight }}</div>
                    <div class="grid-item"><h6>Клавиши</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Материал кейкапов:</div>
                    <div class="grid-item">{{ detail_info.keycap_material }}</div>
                    <div class="grid-item">Количество клавиш:</div>
                    <div class="grid-item">{{ detail_info.total_number_of_keys }} шт.</div>
                    <div class="grid-item"><h6>Функциональность</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Клавиша функции:</div>
                    <div class="grid-item">{{ detail_info.function_key }}</div>
                    <div class="grid-item">Программируемые клавиши:</div>
                    <div class="grid-item">{{ detail_info.programmable_keys }}</div>
                    <div class="grid-item"><h6>Конструкция</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Материал корпуса:</div>
                    <div class="grid-item">{{ detail_info.case_material }}</div>
                    <div class="grid-item">Защита от воды:</div>
                    <div class="grid-item">{{ detail_info.water_protection }}</div>
                    <div class="grid-item">Интерфейс подключения:</div>
                    <div class="grid-item">{{ detail_info.connection }}</div>
                    {% endfor %}
                </div>

                {% elif product.category.slug == "videokarta" %}

                <div class="grid-container">
                    {% for detail_info in videokarta %}
                    <div class="grid-item">Уникальный номер:</div>
                    <div class="grid-item">{{ detail_info.uid }}</div>
                    <div class="grid-item"><h6>Общие параметры</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Модель:</div>
                    <div class="grid-item">{{ detail_info.model }}</div>
                    <div class="grid-item">Цвет:</div>
                    <div class="grid-item">{{ detail_info.color }}</div>
                    <div class="grid-item"><h6>Основные параметры</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Графический процессор:</div>
                    <div class="grid-item">{{ detail_info.gpu }}</div>
                    <div class="grid-item">Микроархитектура:</div>
                    <div class="grid-item">{{ detail_info.microarchitecture }}</div>
                    <div class="grid-item"><h6>Спецификация видеопамяти</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Размер видеопамяти:</div>
                    <div class="grid-item">{{ detail_info.videomemory_size }}</div>
                    <div class="grid-item">Тип памяти:</div>
                    <div class="grid-item">{{ detail_info.memory_type }}</div>
                    <div class="grid-item"><h6>Спецификация видеопроцессора</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Штатная частота работы видеочипа:</div>
                    <div class="grid-item">{{ detail_info.frequency_videochip }}</div>
                    <div class="grid-item">Поддержка трассировки лучей:</div>
                    <div class="grid-item">{{ detail_info.ray_tracing_support }}</div>
                    <div class="grid-item">Число текстурных блоков:</div>
                    <div class="grid-item">{{ detail_info.number_texture_units }}</div>
                    <div class="grid-item"><h6>Вывод изображения</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">видеоразъём displayport:</div>
                    <div class="grid-item">{{ detail_info.video_connectors_displayport }}</div>
                    <div class="grid-item">видеоразъём hdmi:</div>
                    <div class="grid-item">{{ detail_info.video_connectors_hdmi }}</div>
                    <div class="grid-item"><h6>Габариты и вес</h6></div>
                    <div class="grid-item"></div>
                    <div class="grid-item">Длина:</div>
                    <div class="grid-item">{{ detail_info.length }} мм</div>
                    <div class="grid-item">Ширина:</div>
                    <div class="grid-item">{{ detail_info.width }} мм</div>
                    <div class="grid-item">Вес:</div>
                    <div class="grid-item">{{ detail_info.weight }} г</div>
                    {% endfor %}
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}