{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if category %}
{{ category.name }}
{% else %}
Products
{% endif %}
{% endblock %}

{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-md-3">
            <div class="prod-con">
                КАТАЛОГ
                <ul>
                    <li class="selected">
                        <a href="{% url 'store:prod_list' %}">All</a>
                    </li>
                    {% for cat in categories %}
                    <li class="selected">
                        <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if category.slug %}
            <div class="prod-con">
                ФИЛЬТР
                <form method="get">
                    {{ filter.form.as_p }}
                    <input type="submit"/>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="col-md-9">
            <div class="pb-3 prod-con">
                Товары. Etiam nec enim mauris. Etiam fringilla erat non ultrices elementum. Integer accumsan placerat
                felis molestie porta. Fusce id rhoncus dui, nec maximus nisl. Etiam nec enim mauris. Etiam fringilla
                erat non ultrices elementum. Integer accumsan placerat felis molestie porta. Fusce id rhoncus dui, nec
                maximus nisl.
            </div>
            {% if category.slug %}
            {% for product in page_obj %}
            <div class="pb-3 prod-con">
                <div class="row">
                    <div class="col-2">
                        <img class="displayed" src="{{ product.product.photo.url }}"
                             href="{{ product.product.get_absolute_url }}"
                             width="120">
                    </div>
                    <div class="col-10 cat-product-name">
                        <div class="row">
                            <div class="col-6">
                                <a href="{{ product.product.get_absolute_url }}"><br>{{ product.model }}</a>
                            </div>
                            <div class="col-2">
                            </div>
                            <div class="col-2">
                                <a href="{{ MonitorDetails.get_absolute_url }}"><br>{{ product.product.price }}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 cat-amount">
                                {% if product.product.amount %}
                                <a href="{{ MonitorDetails.get_absolute_url }}"><br>В наличии: {{ product.product.amount }}</a>
                                {% else %}
                                <a href="{{ MonitorDetails.get_absolute_url }}"><br>Нет в наличии.</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% for product in page_obj %}
            <div class="pb-3 prod-con">
                <div class="row">
                    <div class="col-2">
                        <img class="displayed" src="{{ product.photo.url }}" href="{{ product.get_absolute_url }}"
                             width="120">
                    </div>
                    <div class="col-10 cat-product-name">
                        <div class="row">
                            <div class="col-6">
                                <a href="{{ product.get_absolute_url }}"><br>{{ product.name }}</a>
                            </div>
                            <div class="col-2">
                            </div>
                            <div class="col-2">
                                <a href="{{ product.get_absolute_url }}"><br>{{ product.price }}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 cat-amount">
                                {% if product.amount %}
                                <a href="{{ product.get_absolute_url }}"><br>В наличии: {{ product.amount }}</a>
                                {% else %}
                                <a href="{{ product.get_absolute_url }}"><br>Нет в наличии.</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

{% include 'include/pagination.html' %}

</div>

{% endblock %}