body {
    background: #ededed; /* Цвет фона */
   }

.searcher {
    width: 400px;
    padding: 10px;
}

.pad {
    padding-left: 250px;
    padding-right: 250px;
}

.product-list {
    text-align: left;
    display: inline-block;
}

.cont {
    padding-top: 15px;
}

.prod-con {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 20px;
	margin-bottom: 15px;
    text-align: center;
    background: #f5f5f5;
}

.prod-con-detail {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 20px;
	margin-bottom: 15px;
    background: #f5f5f5;
}

.column {
    text-align: left;
    float: left;
    padding-left: 100px;
}

.cart {
    align: right
}

.cat-product-image {
    align: left;
}

.cat-product-name {
    text-align: left;
    font-family: Verdana;
    font-size: 12pt;
}

.cat-amount {
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: black;
}

img.displayed {
    display: block;
    margin-left: 10px;
    border-radius: 10px;
}

.selected {
    text-align: left;
}

.price {
    text-align: right;
}