{% extends "base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}


<div class="container my-3">
    <h1>Ваша корзина</h1>
    <div class="row">
        <div class="prod-con">
            <table class="cart">
                <thead>
                <tr>
                    <th>Photo</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Remove</th>
                    <th>Unit price</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            {% if product.photo %}
                            <img src="{{ product.photo.url }}" width="100">
                            {% else %}
                            <img src="{% static 'no_image.png' %}">
                            {% endif %}
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.amount }}</td>
                    <td><a href="{% url 'cart:cart_remove' product.id %}">Remove</a></td>
                    <td class="num">{{ item.price }} руб.</td>
                    <td class="num">{{ item.total_price }} руб.</td>
                </tr>
                {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td>Total</td>
                    <td colspan="4"></td>
                    <td class="num">{{ cart.get_total_price }} руб.</td>
                </tr>
                </tbody>
            </table>
            <br>
            <a href="{% url 'cart:order_add' %}" class="button"> <strong>Перейти к оформлению</strong></a>
        </div>
    </div>
</div>


{% endblock %}